# Node
node_modules/
.env
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
# Ignore uploaded media files
api/uploads/courses/
api/uploads/usersAvatar/

# Ignore specific files
course/public/download.jpeg
course/public/download.png

